{% extends 'base.html.twig' %}

{% block title %}Hello KernelController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        .flex-element { width: 100%; height: 100vh; display: flex; justify-content: center; align-items: center; }
        .wrap { flex-direction: column; }
        p { font-family: sans-serif; font-weight: bold }
        .text-main { font-size: 50px; }
        .text-submain { font-size: 30px; }
    </style>

    <div class="flex-element">
        <div class="wrap">
            <p class="text-main">TicTacToe App Server</p>
            <p class="text-submain">Kernel Controller</p>
        </div>
    </div>

{% endblock %}